.reported {
    color: #555555;
}

.wide {
    width: 60%;
    top: 0px;
}

.narrow {
    width: 40%;
    top: 0px;
}

.right {
    float: right;
    text-align: right;
}

.highlight {
    color: #ffffff;
}

.bye {
    font-weight: bold;
}

.center {
    text-align: center;
}

div.create-form {
    padding: 20px 0;
}

td.remove-link {
    width: 30%;
    text-align: right;
}

tr {
    background-color: transparent !important;
}
