{% extends "base.html" %}
{% block content %}

<div class="text">
    <table>
        <tr>
            <th>Table</th>
            <th>Seat 1</th>
            <th>Seat 2</th>
            <th>Results</th>
            <th></th>
        </tr>
        {% for match in matches %}
        <tr>
            <td>{{ match.table_number} }</td>
            <td class={{ "reported" if match.reported() else "" }}>
                {{ match.seat_1.name }}
            </td>

            <td class={{ "reported" if match.reported() else "" }}>
                {% if match.seat_2 %}
                {{ match.seat_2.name }}
                {% else %}
                <span class="bye">&ndash;BYE&ndash;</span>
                {% endif %}
            </td>

            <td>
                {% if match.reported() %}
                {{ match.seat_1_wins }} &ndash; {{ match.seat_2_wins }}
                {% if match.draws %}
                &ndash; {{ match.draws }}
                {% endif %}
                {% endif %}
            </td>

            <td>
                {% if match.seat_2 %}
                <a href={{ url_for('report_match', match=match.id) }}>
                    {{ "Report" if not match.reported() else "Edit" }}
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

