{% extends "base.html" %}
{% block content %}

<div class="text">
    <table>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Points</th>
            <th>TB1</th>
            <th>TB2</th>
            <th>TB3</th>
            <th></th>
        </tr>
        {% for player in players %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.points() }}</td>
            <td>{{ "{:.2f}".format(player.tb_1()) }}</td>
            <td>{{ "{:.2f}".format(player.tb_2()) }}</td>
            <td>{{ "{:.2f}".format(player.tb_3()) }}</td>
            <td class="dropped">{{ "D" if not player.active else "" }}</td>
        </tr>
        {% endfor %}
    </table>

    {% if close %}
    <div class="section">
        <p>
            <a class="button" href={{ url_for('delete_tournament', id=close) }}>Close Tournament</a>
        </p>
    </div>
    {% endif %}
</div>

{% endblock %}

